body {
  background-color: whitesmoke;
  position: relative;
  top:43px;
}

main {
    background-color: white;
    padding: 1.5em;
    min-width: 70%;
    max-width: 560px;
    margin: 3em auto;
}

body header {
    background-color: red;
    color: #FFF;
    font-family: "Montserrat";
    padding: 4vh;
    text-transform: UPPERCASE;
    position: fixed;
    width: 100%;
    top: 0px;
}

body header a {
    color:#FFF;
    float: left;
    display:inline-block; 
}

body header a:hover {
    color: #ad1515;
}

body header h1 {
    margin: 10px auto;
    display: inline;
    padding: 0px 20px;
}

.header-logo {
    text-align: center;
    margin: 0 auto;
}

.logo i {
    font-size: 38px;
    width:auto;
    float:left;
}

.actions i {
    padding-right: .75em;
}

.post {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid #eee;
}

.post .user-info img {border-radius:50%;}
.post .user-info img:hover {border-radius:40%;}

